<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chat</title>
    <style>
      .chat_log{ width: 95%; height: 200px; }
      .name{ width: 10%; }
      .room{ width: 10%; }
      .message{ width: 60%; }
      .chat{ width: 10%; }
    </style>
  </head>
  <body>
    <div>
      <textarea id="chatLog" class="chat_log" readonly></textarea>
    </div>
    <form id="chat">
      <input id="name" class="name" type="text" placeholder="name" required>
      <!-- <input id="room" class="room" type="text" placeholder="room" required>
      <input id="message" class="message" type="text" placeholder="Enter Message!" required> -->
      <input type="submit" class="chat" value="chat"/>
    </form>
    <div id="box" class="box">
    <script src="/socket.io/socket.io.js"></script> <!-- 1 -->
    <script src="//code.jquery.com/jquery-1.11.1.js"></script>
    <script>
      var socket = io(); //1
      $('#chat').on('submit', function(e){ //2
        socket.emit('join onetoone', false, false, $('#name').val());
        // $('#message').val('');
        // $('#message').focus();
        e.preventDefault();
      });
      socket.on('matching success', function(msg){ //3
        console.log(msg)
      });
    </script>
  </body>
</html>